body{
    position: relative;
}
.custom-container { padding: 0 180px; }
ul{margin: 0px !important;padding: 0px !important;}
li {
    list-style-type: none;
    display: inline-block;
}
header{
    border-bottom: 1px solid #000000 ;
    padding: 25px 100px 25px 100px;
    background-color: #ffffff !important;
}
header .btn-fill{
    margin-left: 50px;
}
header .navbar ul li:not(:last-child){
    margin-left: 37px;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
}
header .navbar .sub-menu:hover .drop-down{
    display: block !important;
}
header .navbar .sub-menu .drop-down{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top:100px !important;
}
header .navbar .sub-menu .drop-down .drop-down-main:hover .drop-down-sub-nav{
    display: block;
}
header .navbar .sub-menu a i{
    margin-left: 15px;
}
.inner-box .resp-tabs-list li{
    width: 24%;
    font-size: 18px;
    background-color: #ffffff !important;
    font-weight: 400 !important;
    margin:0px 5px !important;
    border: 1px solid #00000050;
}
.inner-box .custom-container{
    padding: 20px 360px !important;
}
.resp-tab-content{
    padding: 0px 15px !important;
}
.resp-tab-content{
    border-top: none !important;
    border: none !important;
}
.inner-box .resp-tabs-list li.resp-tab-active{
    border-bottom:3px solid #ec5826 !important;
    color: #ec5826 !important;
}
.drop-down{
    width: 100%;
}
header .navbar ul .megamenu-list ul li{
    margin: 0px;
    padding: 5px 10px;
    text-align: center;
}
.box ul li{
    text-align: left !important;
    position: relative;
}
.box ul li:after{
    position: absolute;
    bottom: 0px;
    left: 10px;
    content: '';
    width: 0%;
    height: 2px;
    background-color: #ec5826;
    transition: all .5s ease-in-out;
}
.box ul li:hover::after{
    width: 50%;
    transition: all .5s ease-in-out;
}
.box ul li a{
    color: #000000 !important;
}
.box ul li:hover a{
    color: #ec5826 !important;
}


.megamenu-list{
    width: 100%;
}
.megamenu-list ul li{
    display: block !important;
    margin: 0px;
}
header .navbar .mega-drop .drop-down .megamenu-list:not(:last-child){
    margin-right: 78px;
}
.content{
    margin-top: 20px;
}
.small{
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all ease-in-out .5s;
}
.small {background-color: #ffffff !important; transition: all ease-in-out .5s;}
.navbar li a{color:#000000; transition: all ease-in-out .5s; font-size: 18px;}
.navbar li a:hover{color: #ec5826; transition: all ease-in-out .5s;}
.navbar .sub-menu.mega-drop:hover a{color: #ec5826; transition: all ease-in-out .5s;}
.navbar .cart-box .inner-box a{color: #000000 !important; transition: all ease-in-out .5s;}
/* banner start */
.banner-img{
    position: relative;
}
.banner-img::after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}
.slick-prev:before{
    color: #ec5826 !important;
}
.slick-next:before{
    color: #ec5826 !important;
}
.slick-prev {
    left: -45px !important;
}
.fa-star{
    color: #ebeb67;
}
.machinery{
    background-image: url('../image/machinary.jpg');
    position: relative;
}
.machinery:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: .9; 
}
.slider .inner-box img{
    transform: scale(.8);
    transition: all ease-in-out .5s;
}
.slider .inner-box:hover img {
    transform: scale(1);
    transition: all ease-in-out .5s;
}
.btn-fill{
    position: relative;
    border: 1px solid transparent;
    transition: all 1s ease-in-out;
}
.btn-fill:before{
    position: absolute;
    content: '';
    background-color: #ec5826;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: -1;
    transform: translateY(-50%); 
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all 1s ease-in-out;
}
.btn-fill:hover:before{
    width: 0%;
    height: 0%;
    border: 1px solid #ec5826 !important;
    transition: all 1s ease-in-out;
}
.btn-fill:hover{
    border: 1px solid #ec5826;
    transition: all 1s ease-in-out;
}
.btn-fill:hover a{
    color: #ec5826 !important;
    transition: all 1s ease-in-out;
}
.btn-border{
    position: relative;
    transition: all 1s ease-in-out;
}
.btn-border:before{
    position: absolute;
    content: '';
    background-color: #ec5826;
    width: 0%;
    height: 0%;
    top: 50%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    transform: translateY(-50%); 
    transition: all 1s ease-in-out;
}
.btn-border:hover:before{
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}
.btn-border a{
    transition: all 1s ease-in-out;
}
.btn-border:hover a{
    color: #ffffff !important;
    position: relative;
    z-index: 2;
    transition: all 1s ease-in-out;
}
.social-media a{
    transition: all 1s ease-in-out;
}
.social-media a:hover{
    color: #ec5826;
    transition:  all 1s ease-in-out;
}
/* .femilt-brand .row .right{    
    width: 40%;
}
.family-brand .row .left{
    width:42%;
} */ 



/* about-us */
.img-box{
    position: relative;
}
.img-box::before{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    z-index: 1;
}
.product:hover img{
    transform: translateX(20px);
    transition: all .5s ease-in-out;
}
.box:hover .client-logo{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.box .client-logo{
    transition: all .5s ease-in-out;
    height: 298px;
}
.comment .slick-prev:before,.comment .slick-next:before{
    font-size: 40px;
}

/* map */
.map{
    margin-top: -100px;
    
}


@media screen and (max-width:1919px) {
	.custom-container{padding: 0px 30px;}
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 50px;}
}
@media screen and (max-width:1599px) {
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 40px;}
}
@media (min-width: 1280px) { 
    .machinery{
        height: 300px;
    }
}
@media screen and (max-width:1365px) {
    .main-navbar{background-color: #ffffff;}
	.header{position: absolute;top: 0px;left: 0px;width: 100%;background: #ffffff; overflow: scroll !important;}
	.mobile{overflow: hidden;height: 100vh;}
    .mobile .navbar{display: block !important;}
	.menu-box{display: block !important;}
    .mobile .navbar .sub-menu .drop-down{position: static;padding-top: 0px!important;}
    .mobile .inner-box .custom-container{padding: 20px 5px !important;}
	.menu-box span{display: block;width: 40px; height:2px;background-color: #000000;margin-bottom: 4px;}
    .mobile .menu-box span:first-child{transform: rotate(45deg);position: absolute;top: 9px;transition: all ease-in-out .5s;}
    .mobile .menu-box span:last-child{transform: rotate(135deg);transition: all ease-in-out .5s}
    .mobile .menu-box span:nth-child(2){opacity: 0;transition: all ease-in-out .5s}
	.menu-box{position: absolute;top: 35px;right: 113px;;}
	.menu-box span{display: block;width: 35px; height: 5px;background-color: #ec5826 ;margin-bottom: 4px;}
	.nav{display: none !important;}
    .nav ul li a{color: #000000 !important;}
	.mobile .nav{display: block !important;height: 100vh;}
	.mobile .nav .main{margin-top: 40px !important;}
	.mobile .nav ul li{width: 100%;display: block;margin-bottom: 20px;text-align: left;}
    .cart-box{
        display: none !important;
    }
}
@media (max-width: 1280px) {
    .machinery{
        height: 750px !important;
    }
    .machinery .left img{
        width: 70%;    
    }
}
@media (max-width: 650px) {
    .main-navbar{
        position: static;
    }
    .banner .banner-img{
        display: none;
    }
    .banner-content{
        position: static !important;
        color: #1A1A1A !important;
        padding: 30px;
        
    }
    .contact-btn{
        position: static !important;
        text-align: center;
    }
    .outlet .inner-box{
        flex-wrap: wrap;
    }
    .outlet .inner-box h4{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .machinery{
        height: auto ;
    }
    .machinery .inner-box{
        left: 0;
        padding: 0px !important;
        
    }
}
@media screen and (max-width:639px) {
	.custom-container{padding: 0px 15px;}
	.main-navbar{padding-top: 15px;}
	.menu-box{top: 18px;right: 36px;}
    .main-navbar .logo-box{width: 33%;}
}
@media screen and (max-width:480px) {
    .slick-prev, .slick-next{
        display: none !important;
    }
    .slider .inner-box{
        margin-right: 0px;
    }
}